<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UNIP.PIM.HelpDesk.WindowsForms.Properties.Settings.ChamadosConnectionString"
            connectionString="Data Source=DESKTOP-LK6QGN7\SQLEXPRESS;Initial Catalog=Chamados;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="HelpDeskConnection"  connectionString="Data Source=DESKTOP-LK6QGN7\SQLEXPRESS;Initial Catalog=Chamados;Integrated Security=True" providerName="System.Data.SqlClient" />

    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>